@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
}
@keyframes float1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(15deg) scale(1) perspective(100px)
      rotateX(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(20px, -25px) rotate(10deg) scale(1.05)
      perspective(100px) rotateX(3deg);
    opacity: 0.85;
  }
  50% {
    transform: translate(30px, -30px) rotate(15deg) scale(1) perspective(100px)
      rotateX(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(15px, -20px) rotate(20deg) scale(0.95)
      perspective(100px) rotateX(-3deg);
    opacity: 0.9;
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0) rotate(-35deg) scale(1) perspective(100px)
      rotateY(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(-15px, 15px) rotate(-30deg) scale(0.95)
      perspective(100px) rotateY(5deg);
    opacity: 0.85;
  }
  50% {
    transform: translate(-10px, 10px) rotate(-35deg) scale(1) perspective(100px)
      rotateY(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(-20px, 20px) rotate(-40deg) scale(1.05)
      perspective(100px) rotateY(-5deg);
    opacity: 0.9;
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0) rotate(50deg) scale(1) perspective(100px)
      rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(8px, 8px) rotate(45deg) scale(1.05) perspective(100px)
      rotateX(4deg) rotateY(3deg);
    opacity: 0.9;
  }
  50% {
    transform: translate(5px, 5px) rotate(50deg) scale(1) perspective(100px)
      rotateX(0deg) rotateY(0deg);
    opacity: 1;
  }
  75% {
    transform: translate(10px, 10px) rotate(55deg) scale(0.95)
      perspective(100px) rotateX(-4deg) rotateY(-3deg);
    opacity: 0.85;
  }
}

/* Applying the animation with different durations and delays */
.float1 {
  animation: float1 6.5s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  animation-delay: 0s;
}

.float2 {
  animation: float2 7.8s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  animation-delay: 1.2s;
}

.float3 {
  animation: float3 6.2s cubic-bezier(0.45, 0, 0.55, 1) infinite;
  animation-delay: 0.7s;
}
